@import "reset.scss";

body {
    font-family: "Tenor Sans", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

//переменный
$dark_beige_bg: #a69785;
$light_beige_bg: #ccc2b6;
$dark_beige_text: #665d52;

//шаблоны

%main-link {
    background-color: $dark_beige_text;
    width: 225px;
    height: 40px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    
}

%main-text {
    color: $dark_beige_text;
    margin: 15px;
    margin-bottom: 30px;
}

%main-title {
    color: $dark_beige_text;
    margin: 15px;
}
//мексины
.main__header {
    background: linear-gradient(to bottom, $dark_beige_bg 50%, $light_beige_bg 50%);
    height: 672px;
    margin: 0;
    padding-top: 25px;

    .main__header_title {
        text-align: center;
        color: white;
        font-size: 50px;
    }

    .main__header_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .main__header_link {
            padding: 25px;
            text-decoration: none;
            color: white;
        }
    }

    .main__header_slider {
        .slider {
            width: 440px;
            height: 494px;
            margin: 0 10px;
            border: white solid 5px;
        }
    }
}

.welcome {
    text-align: center;
    padding: 110px;
    background-color: $light_beige_bg;

    .container {
        .welcome__text {
            margin: 15px;
        }
        .welcome__title {
            @extend %main-title;
            font-size: 30px;
        }
        .welcome__description {
            @extend %main-text;
        }
        .welcome__link {
            @extend %main-link;
        }
    }
}

.main__rings {
    background-color: $light_beige_bg;
    background-image: url(../img_Tanya/img_rings.jpg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 50%;
    min-height: 576px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .rings__description {
        min-width: 700px;
        .main__card_rings {
            padding: 50px 25px;
            background: white;
            width: 600px;
            .rings__main_title {
                @extend %main-title;
            }
            .rings__main_text {
                @extend %main-text;
            }
            .rings__main_link {
                @extend %main-link;
                margin: 15px;
            }
        }
    }
}

.space {
    height: 50px;
    background-color: $light_beige_bg;
}

.main__earrings {
    background-color: $light_beige_bg;
    background-image: url(../img_Tanya/earrings_img.jpg);
    background-repeat: no-repeat;
    background-position: 90% 60%;
    background-size: 50%;
    min-height: 576px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .earrings__description {
        min-width: 700px;
        display: flex;
        justify-content: flex-end;
        .main__card_earrings {
            padding: 50px 25px;
            background: white;
            width: 600px;
            .earrings__main_title {
                @extend %main-title;
            }
            .earrings__main_text {
                @extend %main-text;
            }
            .earrings__main_link {
                @extend %main-link;
                margin: 15px;
            }
        }
    }
}

.originality {
    background-image: url(../img_Tanya/pexels-anastasia-shuraeva-5705495.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 60%;
    min-height: 586px;

    .originality__text {
        text-align: center;
        padding: 250px;
        font-size: 60px;
        color: white;
    }
}

.about_me {
    min-height: 600px;
    background: linear-gradient(to right, $dark_beige_bg 50%, $light_beige_bg 50%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .img__about_me {
        width: 480px;
        height: 500px;
        border: white solid 10px;
    }

    .information__about_me {
        height: 350px;
        width: 470px;
        padding: 50px;
        padding-top: 100px;

        .title__about_me {
            @extend %main-title;
            font-size: 30px;
            margin: 35px;
        }

        .text__about_me {
            @extend %main-text;
            margin: 35px;
        }

        .link__about_me {
            @extend %main-link;
            margin: 35px;
        }
    }
}

.end_cards {
    min-height: 600px;
    background-color: $light_beige_bg;
    padding-top: 30px;
    .p__title{
        text-align: center;
        color: $dark_beige_text;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .title__end_cards{
        text-align: center;
        color: $dark_beige_text;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        .one_block{
            width: 230px;
            
            .img__end_cards{
                width: 230px;
                max-height: 500px;
                border: white solid 5px;
            }

            .text__end_cards{
                color: $dark_beige_text;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .link__end_cards{
                text-decoration: none;
                color: #402e2d;
            
                .fas{
                    margin-left: 5px;
                    color: #402e2d;
                }
            }
        }
    }
}

