@import 'reset.scss';



body{
    font-family: 'Tenor Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

//переменный
$dark_beige_bg: #a69785;
$light_beige_bg:#ccc2b6;
$dark_beige_text:#665d52;


//шаблоны

//мексины 
.main__header {
    background-color: $dark_beige_bg;
    height: 672px;
    margin: 0;
    padding-top: 25px;

    .main__header_title {
        text-align: center;
        color: white;
        
    }

    .main__header_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .main__header_link {
            padding: 25px;
            text-decoration: none;
            color: white;
        }
    }

    .main__header_slider {
        .slider {
            width: 440px;
            height: 494px;
            margin: 0 10px;
            border: white solid 5px;
        }
    }
}

.welcome {
    text-align: center;
    padding: 110px;
    background-color: $light_beige_bg;
    .container {
        .welcome__text {
            margin: 15px;
           
            
        }
        .welcome__title {
            color: $dark_beige_text;
            margin: 15px;
           
        }
        .welcome__description {
            color: $dark_beige_text;
            margin: 15px;
            margin-bottom: 30px;
        }
        .welcome__link {
            background-color: $dark_beige_text;
            width: 225px;
            height: 40px;
            padding: 5px 10px;
            text-decoration: none;
            color: white;
            
        }
    }
}
